<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["colors.css"]" />
    <link rel="stylesheet" href="@Assets["PotatoEMR.styles.css"]" />
    <script src="script.js"></script>
    <ImportMap />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='1em' font-size='80'>🥔</text></svg>" />
    <HeadOutlet />
    <meta property="og:title" content="PotatoEMR🥔" />
    <meta property="og:description" content="With the clinician in mind"/>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
