<button @onclick="OnClick" data-color="@DataColor">
    @ChildContent
</button>
@code {
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public string DataColor { get; set; } = Colors.Primary;
    [Parameter] public RenderFragment? ChildContent { get; set; }
}