button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    font-size: 1rem;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 8px;
    border: 0 solid transparent;
    color: white;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

button[data-color="primary"]   { --button-color: var(--primary);   --button-hover: var(--primary-hover); }
button[data-color="secondary"] { --button-color: var(--secondary); --button-hover: var(--secondary-hover); }
button[data-color="tertiary"]  { --button-color: var(--tertiary);  --button-hover: var(--tertiary-hover); }
button[data-color="success"]   { --button-color: var(--success);   --button-hover: var(--success-hover); }
button[data-color="danger"]    { --button-color: var(--danger);    --button-hover: var(--danger-hover); }
button[data-color="warning"]   { --button-color: var(--warning);   --button-hover: var(--warning-hover); }
button[data-color="info"]      { --button-color: var(--info);      --button-hover: var(--info-hover); }
button[data-color="light"]     { --button-color: var(--light);     --button-hover: var(--light-hover); }
button[data-color="dark"]      { --button-color: var(--dark);      --button-hover: var(--dark-hover); }

button:focus {
    outline: none;
}

    button::before {
        content: "";
        display: block;
        box-sizing: border-box;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 3px;
        border: 1px solid black;
        background-color: var(--button-color);
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.3),
                    inset 0 -5px 0 0 color-mix(in srgb, var(--button-color) 80%, black);
    }

    button:hover::before {
        background-color: var(--button-hover);
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.3),
            inset 0 -5px 0 0 color-mix(in srgb, var(--button-hover) 80%, black);
        border-color: color-mix(in srgb, var(--button-hover) 60%, black);
    }

button:active {
    transform: translateY(4px);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

button:active::before {
    box-shadow: none;
}

button:focus-visible::before {
    outline: 4px solid #fc440f;
}
