:root {
    --primary: #0d6efd;
    --primary-hover: #084298;
    --secondary: #6c757d;
    --secondary-hover: #5c636a;
    --tertiary: #e2e3e5;
    --tertiary-hover: rgb(190, 160, 254);
    --success: #198754;
    --success-hover: #0f5132;
    --warning: #ffc107;
    --warning-hover: #e0a800;
    --danger: #dc3545;
    --danger-hover: #7a1a23;
    --info: #0dcaf0;
    --info-hover: #09788c;
    --light: #f8f9fa;
    --light-hover: rgb(190, 160, 254);
    --dark: #212529;
    --dark-hover: #6f42c1;
}
